.article-title{
  text-align: center;
  padding-top: 10px;
}
.btn {
  display: flex;
  justify-content: center;
}

.linkBtn {
  text-decoration: none;
  all: unset;
  border: 1px solid;
  padding: 10px 15px;
  margin: 2px;
  border-radius: 5px;
  transition: all 0.3s;
}
.linkBtn:hover {
  background-color: black;
  color: aliceblue;
}
